<p>Ukončil jste úspěšně studium a vstupujete do praktického života.</p>
<p>Naše lidově demokratická republika dala Vám všechny podmínky k tomu, abyste se mohl úspěšně podílet na budování socialismu v naší vlasti.</p>
Všechen náš pracující lid čeká od Vás, že posílíte řady nové pracující inteligence, že se budete ochotně podílet o své znalosti se svými spolupracovníky a že budete vzorně plnit všechny povinnosti uvědomělého odborného pracovníka tam, kde Vás bude třeba.</p>
<p>Proto ve smyslu vlád. nařízení č. 20/52 a 56/53 Sb. o rozmisťování absolventů vysokých a výběrových odborných škol se Vám určuje podle státního národohospodářského plánu a podle Vaší odborné průpravy zaměstnání v oboru působnosti ministerstva paliv v podniku <code>HDBS, n. p. Silvestr, Dol. Rychnov.</code> V tomto podniku jste povinen nastoupit nejpozději dne a pracovat v uvedeném resortu po dobu 3 let.</p>
<p>Podle uvedených vládních nařízení bude Vás vedení podniku zaměstnávat pracemi, pro které jste byl vyškolen a po dobu Vašeho závazku nesmí s Vámi bez závažných důvodů rozvázat pracovní poměr. Vedení podniku bude také pečovat o zvyšování Vaší odborné a politické úrovně i o zajištění Vašeho ubytování.</p>
<p>Podmínky vašeho zařazení do zaměstnání:</p>
<p>Pracovní zařazení: <code>pomocník hlavního energetika.</code></p>
<p>Platové podmínky po nástupu: <code>1410 Kčs + premie.</code></p>
<p>Ubytování: <code>pro svobodné v domově mladých, pro ženaté zajistíme byt z plánované výstavby nových byt. jednotek do ½ roku.</code><p>
