svg#svg-icon-lib(xmlns="http://www.w3.org/2000/svg")

  symbol#icon-vyber(viewbox="0 0 40 40")
    path(d="M31.3 13h-7.6a2.7 2.7 0 0 0-2.7 2.7V23l-2-1.1v-6.2a2.7 2.7 0 0 0-2.7-2.7H8.7A2.7 2.7 0 0 0 6 15.7v7.6A2.6 2.6 0 0 0 8.5 26H10a1 1 0 0 0 0-2H8.5c-.2 0-.5-.3-.5-.7v-7.6a.7.7 0 0 1 .7-.7h7.6a.7.7 0 0 1 .7.7v5.1l-2-1v-2.4a.3.3 0 0 0-.4-.4h-4.3a.3.3 0 0 0-.3.3v4.4a.3.3 0 0 0 .3.3h1.8l.8 7.6a2 2 0 0 0 2.1 1.7 2.6 2.6 0 0 0 1.1-.4 3.1 3.1 0 0 0 .6-.4l1.4 2a1.7 1.7 0 0 0 1.4.7 3.8 3.8 0 0 0 2-.7 3 3 0 0 0 1.5-1.8 1.7 1.7 0 0 0-.3-1.3 1 1 0 0 0-1.4-.3 1 1 0 0 0-.3 1.3 3.6 3.6 0 0 1-.6.4 2.7 2.7 0 0 1-.8.4l-2-2.9a1 1 0 0 0-1.4-.2 3.5 3.5 0 0 0-.8.7 1.8 1.8 0 0 1-.4.4H15l-.8-7.7 6.8 3.7h.1l-.1.2a2.8 2.8 0 0 1-.6.2 4.4 4.4 0 0 0-1 .5 1 1 0 0 0-.4 1.4 1 1 0 0 0 1.4.3 2.7 2.7 0 0 1 .6-.3A4.7 4.7 0 0 0 22 27a3.3 3.3 0 0 0 .5-.4 2.3 2.3 0 0 0 .5-1.7v-9.2a.7.7 0 0 1 .7-.7h7.6a.7.7 0 0 1 .7.7v7.6a.7.7 0 0 1-.7.7H26a1 1 0 0 0 0 2h5.3a2.7 2.7 0 0 0 2.7-2.7v-7.6a2.7 2.7 0 0 0-2.7-2.7z")

  symbol#icon-video(viewbox="0 0 40 40")
    path(d="M32 16.4a1 1 0 0 0-.4.2l-5.8 3.2a1 1 0 0 0 1 1.8l5.2-3v8l-5.2-3a1 1 0 0 0-1 0 1 1 0 0 0-.5.9v.9a2.2 2.2 0 0 1-2.1 2.3h-12A2.2 2.2 0 0 1 9 25.4v-5.5a2.2 2.2 0 0 1 2.1-2.2H14a4 4 0 0 0 3.3-1.8 5.3 5.3 0 1 0-1-5.6 4 4 0 0 0-2.3-.6 4 4 0 0 0-4 4 3.9 3.9 0 0 0 .6 2A4.2 4.2 0 0 0 7 20v5.5a4.2 4.2 0 0 0 4.1 4.3h12a4.2 4.2 0 0 0 4-3.6l4.4 2.5a1 1 0 0 0 .5.1 1.8 1.8 0 0 0 2-2v-8.3a1.8 1.8 0 0 0-2-2zM21.2 9a3.3 3.3 0 1 1-3.2 3.3A3.3 3.3 0 0 1 21 9zM14 11.7a2 2 0 1 1-2 2 2 2 0 0 1 2-2z")

  symbol#sortable-handle(viewbox="0 0 23 64")
    path(d="M5 7a2 2 0 1 1 4 0v50a2 2 0 1 1-4 0V7zM14 7a2 2 0 1 1 4 0v50a2 2 0 1 1-4 0V7z")

  symbol#icon-media-pause(viewbox="0 0 40 40")
    path(d="M20 0a20 20 0 1 0 0 40 20 20 0 0 0 0-40zm-2 28h-4V12h4v16zm8 0h-4V12h4v16z")

  symbol#icon-media-play(viewbox="0 0 40 40")
    path(d="M20 0a20 20 0 1 0 0 40 20 20 0 0 0 0-40zm-4 29V11l12 9-12 9z")

  symbol#icon-fullscreen(viewbox="0 0 70 70")
    path(d="M69.9.8a1.4 1.4 0 0 0-.7-.7 1.5 1.5 0 0 0-.5-.1H52.8a1.3 1.3 0 0 0 0 2.6h12.7L44 24.2a1.3 1.3 0 0 0 1 2.2 1.3 1.3 0 0 0 .9-.4L67.4 4.5v12.7a1.3 1.3 0 1 0 2.6 0V1.3a1.2 1.2 0 0 0-.1-.5zm0 0M24.2 44L2.6 65.5V52.8a1.3 1.3 0 0 0-2.6 0v15.9a1.5 1.5 0 0 0 .1.5 1.3 1.3 0 0 0 .7.7 1.2 1.2 0 0 0 .5.1h15.9a1.3 1.3 0 1 0 0-2.6H4.5L26 45.8a1.3 1.3 0 0 0-1.8-1.8zm0 0M1.3 18.5a1.3 1.3 0 0 0 1.3-1.3V4.5L24.2 26a1.3 1.3 0 0 0 1.8-1.8L4.5 2.6h12.7a1.3 1.3 0 0 0 0-2.6H1.3a1.4 1.4 0 0 0-.5.1 1.3 1.3 0 0 0-.7.7 1.4 1.4 0 0 0-.1.5v15.9a1.3 1.3 0 0 0 1.3 1.3zm0 0M68.7 51.5a1.3 1.3 0 0 0-1.3 1.3v12.7L45.8 44a1.3 1.3 0 0 0-1.8 1.8l21.5 21.6H52.8a1.3 1.3 0 1 0 0 2.6h15.9a1.3 1.3 0 0 0 .5-.1 1.3 1.3 0 0 0 .7-.7 1.3 1.3 0 0 0 .1-.5V52.8a1.3 1.3 0 0 0-1.3-1.3zm0 0")

  symbol#icon-myslenka(viewbox="0 0 150 150")
    path(d="M59 32C40.2223185 32 25 47.2223185 25 66 25 84.7776815 40.2223185 100 59 100L92 100C110.777681 100 126 84.7776815 126 66 126 47.2223185 110.777681 32 92 32L59 32zM59 24L92 24C115.195959 24 134 42.8040405 134 66 134 89.1959595 115.195959 108 92 108L59 108C35.8040405 108 17 89.1959595 17 66 17 42.8040405 35.8040405 24 59 24zM112.5 116C109.462434 116 107 118.462434 107 121.5 107 124.537566 109.462434 127 112.5 127L120.5 127C123.537566 127 126 124.537566 126 121.5 126 118.462434 123.537566 116 120.5 116L112.5 116zM112.5 108L120.5 108C127.955844 108 134 114.044156 134 121.5 134 128.955844 127.955844 135 120.5 135L112.5 135C105.044156 135 99 128.955844 99 121.5 99 114.044156 105.044156 108 112.5 108z")

  symbol#icon-promluva(viewbox="0 0 150 150")
    path(d="M25,48 L25,116 L126,116 L126,48 L63,48 C62.0082128,48 61.0517924,47.6315464 60.3163467,46.9661431 L46,34.013258 L46,44 C46,46.209139 44.209139,48 42,48 L25,48 Z M64.5409694,40 L130,40 C132.209139,40 134,41.790861 134,44 L134,120 C134,122.209139 132.209139,124 130,124 L21,124 C18.790861,124 17,122.209139 17,120 L17,44 C17,41.790861 18.790861,40 21,40 L38,40 L38,25 C38,21.5319387 42.1119618,19.7070884 44.6836533,22.0338569 L64.5409694,40 Z")

  symbol#icon-word-cloud(viewbox="0 0 40 40")
    path(d="M27.4 25.5H12.8a1.9 1.9 0 0 0-1.8 1.9v3.2a1.9 1.9 0 0 0 1.8 1.9h14.8a1.9 1.9 0 0 0 1.8-1.9v-3.2a1.9 1.9 0 0 0-1.9-1.9zm-12.5 2h10.4v3H15zM6.2 14.5h12.1a1.9 1.9 0 0 0 1.9-1.9v-1.2a1.9 1.9 0 0 0-1.9-1.9h-12a1.9 1.9 0 0 0-2 1.9v1.2a1.9 1.9 0 0 0 2 1.9zm10-2H8.4v-1h7.8zM23.1 15.5h10.7a1.9 1.9 0 0 0 1.8-1.9v-3.2a1.9 1.9 0 0 0-1.8-1.9H23a1.9 1.9 0 0 0-1.8 1.9v3.2a1.9 1.9 0 0 0 1.8 1.9zm8.5-2h-6.3v-3h6.3z")
    path(d="M35.2 17.5h-7.8a1.9 1.9 0 0 0-1.8 1.9v2.2a1.9 1.9 0 0 0 1.8 1.9h7.8a1.9 1.9 0 0 0 1.9-1.9v-2.2a1.9 1.9 0 0 0-1.9-1.9zm-5.6 2H33v2h-3.5zM22.8 23a1.9 1.9 0 0 0 1.8-1.9V20a1.9 1.9 0 0 0-1.9-1.9h-18A1.9 1.9 0 0 0 3 19.9V21A1.9 1.9 0 0 0 4.8 23h18zM6.8 20h13.7v1H7z")

  symbol#icon-audio(viewbox="0 0 40 40")
    path(d="M28.3 20a5.2 5.2 0 0 0-2.9-4.6 1 1 0 0 0-1.3.4 1 1 0 0 0 .5 1.4 3.2 3.2 0 0 1 0 5.6 1 1 0 0 0 .4 2 1 1 0 0 0 .4-.2 5.2 5.2 0 0 0 3-4.6z")
    path(d="M26.4 11.4a1 1 0 1 0-.8 1.8 7.6 7.6 0 0 1 4.9 6.8 7.6 7.6 0 0 1-4.9 6.8 1 1 0 0 0 .4 1.9 1 1 0 0 0 .4-.1 9.6 9.6 0 0 0 6-8.6 9.5 9.5 0 0 0-6-8.6zM22.4 8a1 1 0 0 0-1 .3l-6.8 6h-2a5.7 5.7 0 0 0 0 11.4h2l6.7 6a1 1 0 0 0 .7.3 1 1 0 0 0 1-1V9a1 1 0 0 0-.6-1zM21 28.9l-5.3-4.9a1 1 0 0 0-.7-.2h-2.4a3.7 3.7 0 0 1 0-7.4H14v5.3a1 1 0 0 0 2 0v-5.8l5-4.6z")

  symbol#icon-tagy(viewbox="0 0 40 40")
    path(d="M35.2 18h-7.8a1.9 1.9 0 0 0-1.8 1.9V22a1.9 1.9 0 0 0 1.8 1.9h7.8a1.9 1.9 0 0 0 1.9-1.9V20a1.9 1.9 0 0 0-1.9-1.9zm-.1 4h-3.5v-2H35zM22.8 24a1.9 1.9 0 0 0 1.8-1.9V20a1.9 1.9 0 0 0-1.9-1.9H7.3a1 1 0 0 0-.2 0H4.8a1.9 1.9 0 0 0-1.9 1.9v2.3A1.9 1.9 0 0 0 4.8 24h18zM4.9 22v-2h2v2zm17.7 0H9v-2h13.7zM5.7 16h14.1a1.9 1.9 0 0 0 1.9-1.9V12a1.9 1.9 0 0 0-1.9-1.9h-14a1.9 1.9 0 0 0-2 1.9V14a1.9 1.9 0 0 0 2 1.9zm14-2H9.9v-2h9.8zM24.6 16h9.7a1.9 1.9 0 0 0 1.8-1.9V12a1.9 1.9 0 0 0-1.8-1.9h-9.7a1.9 1.9 0 0 0-1.8 1.9V14a1.9 1.9 0 0 0 1.8 1.9zm9.5-2h-5.3v-2H34zm-9.3-2h2v2h-2zM27.4 26H12.6a1.9 1.9 0 0 0-1.9 1.9V30a1.9 1.9 0 0 0 2 1.9h14.7a1.9 1.9 0 0 0 1.9-1.9V28a1.9 1.9 0 0 0-2-1.9zm-14.6 4v-2h2v2zm14.4 0H16.9v-2h10.4z")

  symbol#icon-analyticka-tabulka(viewbox="0 0 40 40")
    path(d="M32 11.5A3.5 3.5 0 0 0 28.5 8h-17A3.5 3.5 0 0 0 8 11.5V30a1 1 0 0 0 1 1h22a1 1 0 0 0 1-1V15.2 15zM10 18h5.3v4.5H10zm7.3 0h5.4v4.5h-5.4zM10 11.5a1.5 1.5 0 0 1 1.5-1.5h17a1.5 1.5 0 0 1 1.5 1.5v3.6c0 .1 0 0 0 0v.9H10v-4.5zm0 13h5.3V29H10zM24.7 29v-4.5H30V29z")
    path(d="M12 14.2h4.1a1 1 0 0 0 0-2H12a1 1 0 0 0 0 2zM18.5 14.2h1.4a1 1 0 0 0 0-2h-1.4a1 1 0 0 0 0 2z")

  symbol#icon-angle(viewbox="0 0 70 70")
    path(d="M51.86 36.46a2.07 2.07 0 0 0 0-2.94c-10.14-10-20.44-20-30.75-29.93-2-1.8-4.91 1.14-2.94 2.94C28 16 37.63 25.5 47.45 35 37.63 44.48 28 54 18.17 63.45a2.08 2.08 0 0 0 2.94 2.94c10.31-9.97 20.61-19.95 30.75-29.93z")

  symbol#icon-close(viewbox="0 0 70 70")
    path(d="M63.55 67.67a4 4 0 0 1-2.75-1.11L35 40.77 9.26 66.51a4 4 0 0 1-2.76 1.15A4.26 4.26 0 0 1 2.63 65a3.86 3.86 0 0 1 .86-4.27L29.23 35 3.49 9.26a3.93 3.93 0 0 1-.81-4.37 4.28 4.28 0 0 1 3.84-2.56 3.87 3.87 0 0 1 2.74 1.16L35 29.23 60.74 3.49a4 4 0 0 1 2.76-1.14A4.26 4.26 0 0 1 67.37 5a3.86 3.86 0 0 1-.86 4.27L40.77 35l25.74 25.74a4 4 0 0 1 .82 4.42 4.22 4.22 0 0 1-3.78 2.52z")

  symbol#icon-cteni(viewbox="0 0 40 40")
    path(d="M7 36a1 1 0 0 1-1-1V10a1 1 0 0 1 1-1h26a1 1 0 0 1 1 1v21a1 1 0 0 1-2 0V11H8v24a1 1 0 0 1-1 1z")
    rect(width="20" height="2" x="10" y="14")
    rect(width="20" height="2" x="10" y="26")
    rect(width="20" height="2" x="10" y="22")
    rect(width="3" height="2" x="18" y="30")
    rect(width="6" height="2" x="10" y="30")
    rect(width="4" height="2" x="26" y="18")
    rect(width="14" height="2" x="10" y="18")

  symbol#icon-cviceni(viewbox="0 0 70 70")
    path(d="M2.56 47.92V26.08h14.46V24H.5v26h32v-2.08H2.56M52.98 24v2.08h14.46v21.84H37.5V50h32V24H52.98")
    path(d="M18 17v25.94h16V50h2v-7.06h16V17zm31.94 7.16v16.71H20.06V19.08h29.88z")

  symbol#icon-lupa(viewbox="0 0 40 40")
    path(d="M14.2 20.1a4.3 4.3 0 0 1-.1-6.6 1 1 0 1 0-1.2-1.4 6 6 0 0 0 .1 9.5.9.9 0 0 0 .6.2.9.9 0 0 0 .5-1.7z")
    path(d="M32.5 27.8L29 24.1a1 1 0 0 0-1.3 0 1 1 0 0 0 0 1.3l3.5 3.5-2 2-4.1-4.1 1-1a.9.9 0 0 0 0-1.3L24.5 23a9.9 9.9 0 1 0-1.3 1.3l1 1-.5.3a1.8 1.8 0 0 0 0 2.5l4.2 4.2a1.8 1.8 0 0 0 2.5 0l2-2a1.8 1.8 0 0 0 0-2.6zm-15.7-3a8 8 0 1 1 8-8 8 8 0 0 1-8 8z")

  symbol#icon-razeni(viewbox="0 0 40 40")
    path(d="M19.3 10h-8.6A2.7 2.7 0 0 0 8 12.7v8.6a2.7 2.7 0 0 0 2.7 2.7h8.6a2.7 2.7 0 0 0 2.7-2.7v-8.6a2.7 2.7 0 0 0-2.7-2.7zm.7 11.3a.7.7 0 0 1-.7.7h-8.6a.7.7 0 0 1-.7-.7v-8.6a.7.7 0 0 1 .7-.7h8.6a.7.7 0 0 1 .7.7zM27.3 25.6a1 1 0 0 0-.3.7 1 1 0 0 0 .3.8 1 1 0 0 0 1.4 0 1 1 0 0 0 .3-.8 1 1 0 0 0-.3-.7 1 1 0 0 0-1.4 0zM27.3 18.3a1 1 0 0 0-.3.7 1 1 0 0 0 .3.7A1 1 0 0 0 29 19a1 1 0 0 0-.3-.7 1 1 0 0 0-1.4 0zM27.3 22a1 1 0 0 0-.3.7 1 1 0 0 0 .3.7 1 1 0 0 0 .7.3 1 1 0 0 0 .7-.3 1 1 0 0 0 .3-.7 1 1 0 0 0-.3-.7 1 1 0 0 0-1.4 0zM16.3 25.6a1 1 0 0 0-.3.7 1 1 0 0 0 .3.8 1 1 0 0 0 .7.2 1 1 0 0 0 .7-.2 1 1 0 0 0 .3-.8 1 1 0 0 0-.3-.7 1 1 0 0 0-1.4 0zM16.3 29.3a1 1 0 0 0-.3.7 1 1 0 0 0 .3.7 1 1 0 0 0 .7.3 1 1 0 0 0 1-1 1 1 0 0 0-.3-.7 1 1 0 0 0-1.4 0zM20 29.3a1 1 0 0 0-.3.7 1 1 0 0 0 1 1 1 1 0 0 0 .7-.3 1 1 0 0 0 .3-.7 1 1 0 0 0-1.7-.7zM23.6 29.3a1 1 0 0 0-.3.7 1 1 0 0 0 2 0 1 1 0 0 0-.3-.7 1 1 0 0 0-1.4 0zM27.3 29.3a1 1 0 0 0-.3.7 1 1 0 0 0 .3.7A1 1 0 0 0 29 30a1 1 0 0 0-.3-.7 1 1 0 0 0-1.4 0zM23.6 18.3a1 1 0 0 0-.3.7 1 1 0 0 0 2 0 1 1 0 0 0-.3-.7 1 1 0 0 0-1.4 0z")
    path(d="M16 13.5a1 1 0 0 0-1 0l-2 1.3a1 1 0 0 0 1 1.7l.6-.3v3.4a1 1 0 0 0 2 0v-5.2a1 1 0 0 0-.5-1zM28 10.8h-1.4l.5-.5a.8.8 0 0 0-1.1-1L24.2 11a.8.8 0 0 0-.1.2.7.7 0 0 0-.1.3.7.7 0 0 0 0 .3.8.8 0 0 0 .2.3l1.8 1.8a.8.8 0 0 0 1 0 .8.8 0 0 0 0-1l-.5-.6H28a2.3 2.3 0 0 1 2.5 2v2.8a.8.8 0 0 0 1.5 0v-2.8a3.8 3.8 0 0 0-4-3.5z")

  //- radial menu item
  symbol#icon-svg-text(viewbox="0 0 20 20")
    path(d="M13.5 4a1.5 1.5 0 0 0 0-3h-11a1.5 1.5 0 0 0 0 3h4v13.5a1.5 1.5 0 1 0 3 0V4zM18.4 10.8h-2.1v-2a.8.8 0 0 0-1.5 0v2h-2a.8.8 0 0 0 0 1.5h2v2a.8.8 0 0 0 1.5 0v-2h2a.8.8 0 0 0 0-1.5z")

  symbol#icon-svg(viewbox="0 0 40 40")
    path(d="M27.8 23.5a1 1 0 0 0 0-2h-8.3a1 1 0 0 0 0 2h3.1v9.8a1 1 0 0 0 2 0v-9.8zM35.2 14a1 1 0 0 0-1.4 0c-2.7 3-5.3 3.2-6.8 2.4s-2-2.8-1.3-4.9a5.5 5.5 0 0 0-1.5-6.2A4.5 4.5 0 0 0 19 5a1 1 0 0 0 1 1.7 2.5 2.5 0 0 1 3 .1 3.5 3.5 0 0 1 .9 4c-1 3-.1 6 2.2 7.2a5.5 5.5 0 0 0 2.1.7c2 .2 4.6-.6 7.1-3.3a1 1 0 0 0 0-1.4zM15.2 15.6a1.5 1.5 0 0 0-.7-1 1.5 1.5 0 0 0-1.3 0 3.5 3.5 0 0 0-.6.5L6 20a1.9 1.9 0 0 0-.4 2.6 2.6 2.6 0 0 0 1 .7 3.2 3.2 0 0 0 .6.3l-1 2c-.2.6-.5 2 1.8 3a4 4 0 0 0 1.6.4 1.6 1.6 0 0 0 1.6-1 1 1 0 0 0-1.7-1 4.5 4.5 0 0 1-.7-.2 3.2 3.2 0 0 1-.7-.4l1.4-3.1A1 1 0 0 0 9 22a3.8 3.8 0 0 0-1-.3 1.7 1.7 0 0 1-.5-.1h-.1l6-4.6.4 7.3a.3.3 0 0 1 0 .1h-.2a2 2 0 0 1-.4-.4 4.8 4.8 0 0 0-1-.6 1 1 0 0 0-.8 1.9 2.5 2.5 0 0 1 .5.3 4 4 0 0 0 1 .6 2.9 2.9 0 0 0 .5.2 1.9 1.9 0 0 0 2.3-1.4 4 4 0 0 0 0-.6v-.1l-.3-8a4.1 4.1 0 0 0-.2-.7zM14.3 13a.8.8 0 0 0 .8-.8V9.7a.8.8 0 0 0-1.5 0v2.5a.8.8 0 0 0 .7.7zM17.3 14l2-1.6a.8.8 0 1 0-.9-1.2l-2 1.5a.8.8 0 0 0-.1 1 .8.8 0 0 0 .6.3.7.7 0 0 0 .4 0zM20.1 16l-2.4-.6a.7.7 0 0 0-1 .6.8.8 0 0 0 .6.9l2.5.6h.2A.8.8 0 0 0 20 16zM11 14a.7.7 0 0 0 .5.2.7.7 0 0 0 .6-.3.8.8 0 0 0-.1-1.1l-2-1.6a.8.8 0 0 0-1 0 .8.8 0 0 0 0 1.1zM31.9 28.1h-1.5v-1.5a.6.6 0 0 0-1.3 0v1.5h-1.5a.6.6 0 0 0 0 1.3h1.5v1.5a.6.6 0 0 0 1.3 0v-1.5h1.5a.6.6 0 0 0 0-1.3z")

  symbol#icon-text-editor(viewbox="0 0 40 40")
    path(d="M14.2 22.2l-1 2.2a1 1 0 0 1-.8.6.9.9 0 0 1-1-.9.8.8 0 0 1 .1-.3l3.7-9a.9.9 0 0 1 1.7 0l3.7 9a.8.8 0 0 1 0 .3.9.9 0 0 1-.9 1 1 1 0 0 1-.8-.7l-1-2.2zm1.9-5l-1.3 3.3h2.6zM23 19.7a.7.7 0 0 1-.6.1.7.7 0 0 1-.7-.7.8.8 0 0 1 .2-.5 3.3 3.3 0 0 1 2.6-1c2 0 3 1 3 2.6v4a.8.8 0 0 1-1.6 0 2.2 2.2 0 0 1-2 .9 2.3 2.3 0 0 1-2.6-2.4 2.3 2.3 0 0 1 2.5-2.2H26v-.2c0-.8-.5-1.2-1.4-1.2a2.6 2.6 0 0 0-1.6.6zm3 2.6v-.5h-2c-.6 0-1 .4-1 1s.4 1 1.3 1a1.5 1.5 0 0 0 1.6-1.5z")
    path(d="M31 27a1 1 0 0 1-1-1V13.5a1.5 1.5 0 0 0-1.5-1.5H16a1 1 0 0 1 0-2h12.5a3.5 3.5 0 0 1 3.5 3.5V26a1 1 0 0 1-1 1zM20 30h-8.5A3.5 3.5 0 0 1 8 26.5V14a1 1 0 0 1 2 0v12.5a1.5 1.5 0 0 0 1.5 1.5H20a1 1 0 0 1 0 2zM27.5 30H24a1 1 0 0 1 0-2h3.5a1 1 0 0 1 0 2z")

  symbol#icon-text(viewbox="0 0 40 40")
    path(d="M25.5,12a1.5,1.5,0,0,0,0-3h-15a1.5,1.5,0,0,0,0,3H17V30a1.5,1.5,0,0,0,3,0V12Z")
    path(d="M31.5,22H29V19.5a1,1,0,0,0-2,0V22H24.5a1,1,0,0,0,0,2H27v2.5a1,1,0,0,0,2,0V24h2.5a1,1,0,0,0,0-2Z")

  symbol#logo-tacr(viewbox="0 0 184 184")
    path(d="M50.57 67h5.52V47.02h8.42V42H42v5.02h8.57V67zM124 62.8h10.44l1.69 4.2H142l-10.33-25h-4.92l-10.33 25h5.88zm5.24-13.48l3.62 9.07h-7.28zm9.89 80.24a8.2 8.2 0 0 0-1.27-10.19 8.4 8.4 0 0 0-6-2.38h-10.49v25h5.49v-8.33h3.69l5.21 8.33H142l-6.1-9.65a7.14 7.14 0 0 0 3.23-2.78zm-5.29-1.72a3.58 3.58 0 0 1-2.61.95h-4.37V122h4.84a3 3 0 0 1 2.23.94 3.26 3.26 0 0 1 .89 2.37 3.35 3.35 0 0 1-.98 2.53zM55.46 142a13 13 0 0 0 5.61-1.24 13.37 13.37 0 0 0 4.09-3l-3.79-3.19a8.05 8.05 0 0 1-5.91 2.43 7.74 7.74 0 0 1-5.65-2.23 8.05 8.05 0 0 1 0-11.26 7.75 7.75 0 0 1 5.64-2.25 8.09 8.09 0 0 1 5.9 2.38l3.79-3.18a13.33 13.33 0 0 0-4.1-3 12.84 12.84 0 0 0-5.59-1.24 13.37 13.37 0 0 0-9.55 3.7 12.8 12.8 0 0 0 0 18.42 13.44 13.44 0 0 0 9.56 3.66zm-2.43-33.21h-5.28v.02l5.06 5.24h4.99l5.1-5.24v-.02h-5.36l-2.23 2.34-2.28-2.34z")

  symbol#logo(viewbox="0 0 266 266")
    path(d="M3 199a3 3 0 0 1-3-3V97a3 3 0 0 1 3-3h48a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3H18a3 3 0 0 0-3 3v69a3 3 0 0 0 3 3h91a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3z")
    path(d="M157 199a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3h91a3 3 0 0 0 3-3v-70a3 3 0 0 0-3-3h-33a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3h48a3 3 0 0 1 3 3v100a3 3 0 0 1-3 3z")
    path(d="M128.06 199a3 3 0 0 1-3-3v-22a3 3 0 0 0-3-3H70a3 3 0 0 1-3-3V70a3 3 0 0 1 3-3h126a3 3 0 0 1 3 3v98a3 3 0 0 1-3 3h-52a3 3 0 0 0-3 3v22a3 3 0 0 1-3 3zM181 156a3 3 0 0 0 3-3V85a3 3 0 0 0-3-3H85a3 3 0 0 0-3 3v68a3 3 0 0 0 3 3z")

  symbol#icon-checkmark(viewbox="0 0 70 70")
    path(d="M24 62a3 3 0 0 1-2.06-.82l-19-18a3 3 0 1 1 4.12-4.36l16.86 15.97L62.85 14.9a3 3 0 0 1 4.3 4.2l-41 42A3 3 0 0 1 24 62z")
